.slider-container {
  position: relative;
  margin: auto;
  overflow: hidden;
 
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.slide img {
  width: 100%;
  height: 400px;        /* fixed height */
  display: block;
  border-radius: 6px;
  object-fit: cover;    /* fills container, crops extra */
  object-position: center;
}


/* mobile */
@media (max-width: 600px) {
  .slide img {
    height: 250px;
  }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .slide img {
    height: 350px;
  }
}

/* desktop */
@media (min-width: 1025px) {
  .slide img {
    height: 450px;
  }
}


.active-slide {
  opacity: 1;
  position: relative;
}

/* Buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  font-size: 24px;
  color: white;
  background: rgba(0,0,0,0.4);
  border-radius: 4px;
  transform: translateY(-50%);
  user-select: none;
}

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.7);
}

.prev { left: 10px; }
.next { right: 10px; }

/* Dots */
.dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}